@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #401368;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #401368;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer {
  .text-outline {
    -webkit-text-stroke: 4px white;
    text-stroke: 4px white;
  }

  .threed-letter-container {
    width: 500px;
    height: 300px;
  }

  .model-container {
    width: 300px;
    height: 300px;
  }
}
